


<nav class="navbar navbar-expand-lg navbar-light background" >
  <div class="container-fluid">
    <a class="navbar-brand text"  ><i class='fas fa-book-open book' >&nbsp;&nbsp;Education</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://en.wikipedia.org/wiki/Soft_skills" target="blank"
          id="lis">Soft skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://en.wikipedia.org/wiki/Sport" target="blank"
          id="lis">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://www.mindtools.com/pages/article/newLDR_41.htm" target="blank"
            id="lis">Leadership</a>
        </li>
      
        
      </ul>
     
      <span>
        <a (click)="click()" id="click">logout &nbsp; <i class='fas fa-sign-out-alt fac'></i></a>
      </span>
    </div>
  </div>
</nav>


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h2 class="card-title">Non-Technical Skills</h2>
    <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks. They
      are
      practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
      Some examples include knowledge of programming languages, design programs, mechanical equipment, or tools
    </p>
    <a href="https://www.arpansa.gov.au/regulation-and-licensing/safety-security-transport/holistic-safety/non-technical-skills#:~:text=Non%2DTechnical%20Skills%20('NTS,%3B%20and%20situation%2Dawareness%20skills.&text=However%2C%20they%20complement%20these%20technical,them%20more%20efficient%20and%20effective."
      target="_blank" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
  </div>
  <div class="card-footer text-muted">
    NON Technical skills here
  </div>
</div>