
<nav class="navbar navbar-expand-lg navbar-light background" >
  <div class="container-fluid">
    <a class="navbar-brand text"  ><i class='fas fa-book-open book' style='font-size:24px'>&nbsp;&nbsp;Education</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item " >
          <a class="nav-link active li" aria-current="page" href="https://www.w3schools.com/html/default.asp" target="blank"id="lis">HTML</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="https://www.w3schools.com/bootstrap4/default.asp" id="lis"target="blank">Bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lis" href="https://www.w3schools.com/js/default.asp"target="blank" id="lis">Javascript</a>
        </li>
      
        
      </ul>
     
      <span>
        <a (click)="click()" id="click">logout &nbsp; <i class='fas fa-sign-out-alt '></i></a>
      </span>
    </div>
  </div>
</nav>
 
  
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <h2 class="card-title" >Technical Skills</h2>
        <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks. They
          are
          practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
          Some examples include knowledge of programming languages, design programs, mechanical equipment, or tools
        </p>
        <a href="https://www.thebalancecareers.com/technical-skills-list-2063775#:~:text=Technical%20skills%20are%20the%20abilities,%2C%20mechanical%20equipment%2C%20or%20tools."
          target="_blank" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
      </div>
    <div class="card-footer text-muted">
       Technical skills here
    </div>
  </div>
