
    <nav class="navbar navbar-expand-lg navbar-light background" >
      <div class="container-fluid">
        <a class="navbar-brand text"  ><i class='fas fa-book-open' style='font-size:24px'>&nbsp;&nbsp;Education</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              
              <a class="nav-link lia" (click)="clickT()" id="lia" >Technical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lia" (click)="clickN()" id="lia">Non-Technical</a>
            </li>
          
            
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btns" type="submit"  >Search</button>
          </form>
          <span>
            <a (click)="click()" id="click">logout &nbsp; <i class='fas fa-sign-out-alt fac'></i></a>
          </span>
        </div>
      </div>
    </nav>
    <!-- breajkkkl-->
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/1.jfif" class="d-block w-100 img" alt="..." >
        </div>
        <div class="carousel-item">
          <img src="assets/images/2.jfif" class="d-block w-100 img" alt="..." >
        </div>
        <div class="carousel-item">
          <img src="assets/images/3.jfif" class="d-block w-100 img" alt="..." >
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <br>
    

    <div class="row no-gutters">
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title" >Technical Skills</h2>
            <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks. They
              are
              practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
              Some examples include knowledge of programming languages, design programs, mechanical equipment, or tools
            </p>
            <a href="https://www.thebalancecareers.com/technical-skills-list-2063775#:~:text=Technical%20skills%20are%20the%20abilities,%2C%20mechanical%20equipment%2C%20or%20tools."
              target="_blank" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Non-Technical Skills</h2>
            <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks. They
              are
              practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
              Some examples include knowledge of programming languages, design programs, mechanical equipment, or tools
            </p>
            <a href="https://www.arpansa.gov.au/regulation-and-licensing/safety-security-transport/holistic-safety/non-technical-skills#:~:text=Non%2DTechnical%20Skills%20('NTS,%3B%20and%20situation%2Dawareness%20skills.&text=However%2C%20they%20complement%20these%20technical,them%20more%20efficient%20and%20effective."
              target="_blank" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
          </div>
        </div>
      </div>
    </div><br>

    <div class="row no-gutters" >
      <div class="card cardb" id="carda" >
        <img class="card-img-top" src="assets/images/3.jfif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks.
            They
            are
            practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
            Some examples include knowledge of programming languages, design programs, mechanical equipment, or
            tools
          </p>
          <a href="#" class="btn btn-primary"style="background-color:blueviolet">more...</a>
        </div>
      </div>
      <div class="card cardb" >
        <img class="card-img-top" src="assets/images/2.jfif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks.
            They
            are
            practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
            Some examples include knowledge of programming languages, design programs, mechanical equipment, or
            tools
          </p>
          <a href="#" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
        </div>
      </div>
      <div class="card cardb" >
        <img class="card-img-top" src="assets/images/9.jpg" alt="Card image cap" style="height: 190px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks.
            They
            are
            practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
            Some examples include knowledge of programming languages,mechanical equipment
            
          </p>
          <a href="#" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
        </div>
      </div>
      <div class="card cardb" >
        <img class="card-img-top" src="assets/images/classroom.jpg" alt="Card image cap" style="    
          height: 190px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Technical skills are the abilities and knowledge needed to perform specific tasks.
            They
            are
            practical, and often relate to mechanical, information technology, mathematical, or scientific tasks.
            Some examples include knowledge of programming languages or
            toolsdesign programs,
          </p>
          <a href="#" class="btn btn-primary" style="background-color: blueviolet;">more...</a>
        </div>
      </div>

      </div>


    <ul class="nav justify-content-center uls" >
      <li class="nav-item">
      
        <p>Accessibility</p>
      </li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        
        <p>|</p>
      </li>&nbsp;
      <li class="nav-item">
       
        <p>Copyright 1999-2020</p>
      </li>&nbsp;
      <li class="nav-item">
        
        <p>|</p>
      </li>&nbsp;&nbsp;
   <li>
    <p>Privacy & Policy</p>
   </li>
      
    </ul>