.footer_content{
    padding: 13px;
    color: white;
}  
.background{
    background-color: blueviolet;
}

.text{
    color: white;
}

.book{
    font-size: 24px;
    color:white;

}

#lia{
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.btns{
    color: white;
    border: 2px solid white;
}
.fac{
    font-size: 19px;
    color: white;
}
#click{
    margin-left:103px;
    color:white;
    cursor: pointer;
}
.img{
    height:400px;
}
.uls{
    color: white;
    background-color: blueviolet;
    padding: 13px;
}

#carda{
    width: 18rem;
     margin-left: 60px;
}
.cardb{
    width:18rem;
}